<h2>overheard</h2>
<% if !current_user %>
  <%= link_to "Sign Up", new_user_registration_path %> |
  <%= link_to "Sign In", new_user_session_path %>
<% else %>
  <%= link_to "Profile", profile_path %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<% end %>

<%= form_tag(tweets_path, method: :get) do%>
  <%= text_field_tag(:query, params[:query]) %>
  <%= submit_tag("Search") %>
<% end %>

<% @tweets.each do |tweet| %>
  <div class="tweet-result">
    <span class="tweet-user-img">
      <%= image_tag (tweet.user.profile_image_url), class: "image-circular" %>
    </span>
    <span class="tweet-user-info">
      <div class="tweet-name"><%= tweet.user.name %></div>
      <div class="tweet-username">@<%= tweet.user.screen_name %></div>
    </span>
    <div class="tweet-text"><%= tweet.text %></div>
    <div class="tweet-time"><%= tweet.created_at.strftime("%m:%M%p - %e %b %Y") %></div>
  </div>
<% end %>
