<!-- temporary user info text -->
<div class = "col-md-12">
  <h2><%= current_user.email %></h2>
</div>

<div class = "col-md-12">
  <%= link_to "Authenticate Twitter", user_twitter_omniauth_authorize_path %>
</div>

<div class="col-md-12">
  <h3>Search Yelp</h3>
  <%= form_tag(profile_path, method: :get) do%>
    <%= text_field_tag(:q_business, params[:q_business])%>
    <%= submit_tag("Find Business") %>
  <% end %>

  <div class="yelp_businesses clearfix">
    <% @yelp_businesses.each do |business| %>
      <div class="col-sm-6 col-md-6">
        <div class="yp-bresult">
          <%= image_tag(business.image_url, class: "yp-bresult-img")%>

          <span class="yp-bresult-info">
            <div>
              <div class="yp-bname"><%= business.name %></div>
              <div>
                <%= business.location.display_address[0] %>
              </div>
              <div>
                <%= business.location.display_address[2] %><br>
                <span><%= image_tag(business.rating_img_url_small) %></span>
                <span><%= business.review_count %> Reviews</span>
              </div>
              <div class="yp-blogo">
                <%= image_tag ("Yelp_trademark.svg") %>
              </div>
            </div>
          </span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-md-12">
  <div>
    <h3>Search Twitter</h3>
    <%= form_tag(profile_path, method: :get) do%>
      <%= text_field_tag(:query, params[:query]) %>
      <%= submit_tag("Search") %>
    <% end %>
  </div>

  <div>
    <h4>Search Result</h4>
    <% @tweets.each do |tweet| %>
      <p><%= tweet.text %></p>
    <% end %>
  </div>
</div>

<div class = "col-md-12">
  <div>
    <h3>Add Term</h3>
    <%= form_for @tracked_term do |f| %>
      <% if @tracked_term.errors.any? %>
        <% @tracked_term.errors.full_messages.each do |msg| %>
          <p><em><%= msg %></em></p>
        <% end %>
      <% end %>

      <%= f.text_field :term %>
      <%= f.submit "Add Track Term" %>
    <% end %>
  </div>

  <% @tracked_terms.each do |entry| %>
    <div class="track-result">
      <span class="term"><%= entry.term %></span>
      <span class="remove-term"><%= link_to "(Stop Tracking)", tracked_term_path(entry.id), method: :delete %></span>
      <% tweets = Tweet.get_tweets(entry.term)%>
      <% tweets.each do |tweet| %>
        <div class="tweet-result">
          <span class="tweet-user-img">
            <%= image_tag (tweet.user.profile_image_url), class: "image-circular" %>
          </span>
          <span class="tweet-user-info">
            <div class="tweet-name"><%= tweet.user.name %></div>
            <div class="tweet-username">@<%= tweet.user.screen_name %></div>
          </span>
          <div class="tweet-text"><%= tweet.text %></div>
          <div class="tweet-time"><%= tweet.created_at.strftime("%m:%M%p - %e %b %Y") %></div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>


<div class="col-md-12">
  <!-- temp styling -->
  <br>
  <br>
  <p>
    <%= link_to "Back", root_path %>
  </p>
</div>
